/* SORA FONT */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

/* Variables */

:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Sora', 'sans-serif';
    line-height: 1.7;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
}

.hero p {
    color: lightblue;
    font-weight: 700;
}

.hero {
    background-image: url('../img/hero3.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(59, 57, 126, 0.10); */
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.school_logo {
    width: 150px;
    border-radius: 30px;
}

.school_name {
    color: #fff;
}

.school_name:hover {
    color: var(--body);
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.card {
    border-radius: 20px;
    transition: all 0.35s ease;
}

.card:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.mv_car {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.mv_car::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    opacity: 0;
    transition: all 0.5ss ease;
}

.mv_car h5 {
    color: var(--primary);
    font-weight: 700;
    font-size: 30px;
}

.mv_car:hover h5,
.mv_car:hover p {
    color: #fff;
}

.mv_car:hover::after {
    opacity: 1;
    top: 0;
}

.iconbox {
    flex: none;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: #fff;
    font-size: 32px;
    border-radius: 100px;
}

.mv_car:hover .iconbox {
    background-color: #fff;
    color: var(--primary);
}

.img {
    border-radius: 20px;
}

.col-img {
    background-image: url('../img/history.jpg');
    /* background-position: center; */
    background-size: cover;
    min-height: 500px;
}

.social_media_icons {
    color: var(--dark);
}

.social_media_icons_f {
    color: #fff;
}

.social_media_icons:hover,
.social_media_icons_f:hover {
    color: rgb(255, 190, 1);
    transform: translateY(-3px);
    transition: all 0.5s ease;
}

.social_media_icons:not(hover) {
    transform: translateY(0px);
    transition: all 0.5s ease;
}

.logo_footer {
    width: 70px;
    border-radius: 10px;
}

.primary_principal_label {
    display: none;
}